#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [96]:
import pandas as pd
import numpy as np

# Seu código aqui
serie = pd.Series([-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02])
serie

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [97]:

# seu código aqui
serie = pd.Series([-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02],
                  index=['1900','1920','1940','1960','1980','2000','2020'])
serie

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [98]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
serie2 = pd.Series(dic_temperaturas)
serie2

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [99]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
dataframe = pd.DataFrame(arr)
dataframe

             0           1           2
0   109.305354   95.944682  102.708646
1    92.469468   98.909963   92.823852
2    99.159992   94.096420   98.471312
3    97.715282   96.409579  100.942483
4    93.843543   86.592750  106.345609
5   102.154994  102.425310  105.006690
6   106.811126   97.164897   92.389687
7   111.080577   99.757368  106.426687
8    98.664548  103.993524  101.668627
9   108.455001  107.685655  101.640072
10   93.099098  110.421372   87.002135
11   95.216218  108.582513  101.734081
12   99.706108   99.818270   99.676862
13   83.502627  104.718331   85.067148
14   90.439952   95.748612   97.686435
15  107.736855  113.679432   98.138126
16   94.065275   91.036500   88.868553
17  119.268832   95.978761  102.237462
18   92.954774   80.494812  114.194630
19   88.909407   88.005914   99.336815

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [100]:
#seu código aqui
dataframe = pd.DataFrame((arr),
                         index=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
                        columns=['X1','X2','X3'])                       
dataframe

            X1          X2          X3
1   109.305354   95.944682  102.708646
2    92.469468   98.909963   92.823852
3    99.159992   94.096420   98.471312
4    97.715282   96.409579  100.942483
5    93.843543   86.592750  106.345609
6   102.154994  102.425310  105.006690
7   106.811126   97.164897   92.389687
8   111.080577   99.757368  106.426687
9    98.664548  103.993524  101.668627
10  108.455001  107.685655  101.640072
11   93.099098  110.421372   87.002135
12   95.216218  108.582513  101.734081
13   99.706108   99.818270   99.676862
14   83.502627  104.718331   85.067148
15   90.439952   95.748612   97.686435
16  107.736855  113.679432   98.138126
17   94.065275   91.036500   88.868553
18  119.268832   95.978761  102.237462
19   92.954774   80.494812  114.194630
20   88.909407   88.005914   99.336815

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [101]:
# seu código aqui
dataframe['Media'] = (dataframe['X1'] + dataframe['X2'] + dataframe['X3'])/3
dataframe

            X1          X2          X3       Media
1   109.305354   95.944682  102.708646  102.652894
2    92.469468   98.909963   92.823852   94.734428
3    99.159992   94.096420   98.471312   97.242575
4    97.715282   96.409579  100.942483   98.355781
5    93.843543   86.592750  106.345609   95.593967
6   102.154994  102.425310  105.006690  103.195664
7   106.811126   97.164897   92.389687   98.788570
8   111.080577   99.757368  106.426687  105.754878
9    98.664548  103.993524  101.668627  101.442233
10  108.455001  107.685655  101.640072  105.926909
11   93.099098  110.421372   87.002135   96.840868
12   95.216218  108.582513  101.734081  101.844271
13   99.706108   99.818270   99.676862   99.733747
14   83.502627  104.718331   85.067148   91.096035
15   90.439952   95.748612   97.686435   94.625000
16  107.736855  113.679432   98.138126  106.518138
17   94.065275   91.036500   88.868553   91.323443
18  119.268832   95.978761  102.237462  105.828352
19   92.954774   80.494812  114.194630   95.881405
20   88.909407   88.005914   99.336815   92.084045

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [102]:
# seu código aqui
dataframe['log_med'] = ln(dataframe['Media'])
dataframe

            X1          X2          X3       Media   log_med
1   109.305354   95.944682  102.708646  102.652894  4.631353
2    92.469468   98.909963   92.823852   94.734428  4.551077
3    99.159992   94.096420   98.471312   97.242575  4.577209
4    97.715282   96.409579  100.942483   98.355781  4.588591
5    93.843543   86.592750  106.345609   95.593967  4.560110
6   102.154994  102.425310  105.006690  103.195664  4.636627
7   106.811126   97.164897   92.389687   98.788570  4.592982
8   111.080577   99.757368  106.426687  105.754878  4.661124
9    98.664548  103.993524  101.668627  101.442233  4.619490
10  108.455001  107.685655  101.640072  105.926909  4.662749
11   93.099098  110.421372   87.002135   96.840868  4.573069
12   95.216218  108.582513  101.734081  101.844271  4.623445
13   99.706108   99.818270   99.676862   99.733747  4.602504
14   83.502627  104.718331   85.067148   91.096035  4.511914
15   90.439952   95.748612   97.686435   94.625000  4.549922
16  107.736855  113.679432   98.138126  106.518138  4.668315
17   94.065275   91.036500   88.868553   91.323443  4.514408
18  119.268832   95.978761  102.237462  105.828352  4.661818
19   92.954774   80.494812  114.194630   95.881405  4.563112
20   88.909407   88.005914   99.336815   92.084045  4.522702